.gradle/
.kotlin/
**/build/
local.properties
*.jks
.idea/
*.iml
.externalNativeBuild/
.cxx/
captures/
*.keystore
key.properties
signing.properties
.env
.env.*
!.env.example
*.apk
*.aab
*.log
*.hprof
.DS_Store
Thumbs.db
Desktop.ini
output-metadata.json
google-services.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.vscode/*
!.vscode/tasks.json
